section.row.blog#blog(style="padding-top: 120px;padding-bottom: 120px;")
      .container
          .row(style="height:100%;text-align:center;")
                .col-md-12
                      h3.title-small
                         span Blog
                      .row(style="display: flex;justify-content: center;") 
                          .col-md-6.col-md-offset-3
                                p.content-details Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
                      .list-blog.row
                            .col-md-4.col-sm-6.col-12.blog-cont
                                    .wrap-article
                                          img.img-circle(src="../img/blog/blog-1.png" width="133" height="133")
                                          p.sutit-fancy 
                                              span 09/01/2015
                                          a(href="#")
                                                h3.title Somewhere place
                                          p.content-blog Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            .col-md-4.col-sm-6.col-12.blog-cont
                                    .wrap-article
                                          img.img-circle(src="../img/blog/blog-2.jpg" width="133" height="133")
                                          p.sutit-fancy 
                                              span 08/20/2015  
                                          a(href="#")
                                              h3.title Manuk
                                          p.content-blog Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            .col-md-4.col-sm-6.col-12.blog-cont
                                    .wrap-article
                                          img.img-circle(src="../img/blog/blog-3.jpg" width="133" height="133")
                                          p.sutit-fancy 
                                              span 08/11/2015
                                          a(href="#")
                                              h3.title  Just Start
                                          p.content-blog Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            .col-md-4.col-sm-6.col-12.blog-cont
                                    .wrap-article
                                          img.img-circle(src="../img/blog/blog-4.jpg" width="133" height="133")
                                          p.sutit-fancy 
                                              span 08/03/2015
                                          a(href="#")
                                              h3.title Popular Design in 2015
                                          p.content-blog Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                            .col-md-4.col-sm-6.col-12.blog-cont
                                    .wrap-article
                                          img.img-circle(src="../img/blog/blog-2.jpg" width="133" height="133")
                                          p.sutit-fancy 
                                              span 08/03/2015
                                          a(href="#")
                                              h3.title The Huffington Post
                                          p.content-blog Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            .col-md-4.col-sm-6.col-12.blog-cont
                                    .wrap-article
                                          img.img-circle(src="../img/blog/blog-1.png" width="133" height="133")
                                          p.sutit-fancy 
                                              span 09/01/2015
                                          a(href="#")
                                              h3.title Somewhere place
                                          p.content-blog Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
