section.row.contact#contact(style=" padding-top:124px;padding-bottom:124px;")
      .container(style="padding:0;")
            .row(style="height:100%;")
                    .col-md-3.col-sm-12.col-12.content-left
                         .title
                             span Contact
                         .content-detail
                             p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                    .col-md-9.col-sm-12.col-12.content-right
                              form(method="post" action="")
                                  .group
                                        input(type="text" required)
                                        span.hightlight 
                                        label Name
                                        span.bar 
                                  .group
                                        input(type="email"  required)
                                        span.hightlight 
                                        label Email 
                                        span.bar
                                  .group
                                        textarea(name=""  required)
                                        span.hightlight 
                                        label Message   
                                        span.bar 
                                  input#sendMessage(type="submit" value="Send message")
