section.row.education#education(style="padding-top:111px;padding-bottom:111px;")
      .container(style="padding:0;")
            .row(style="height:100%;")
                        .col-md-3.col-sm-12.col-12.content-left
                              .title
                                    span Education
                              .content-detail
                                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                        .col-md-9.col-sm-12.col-12.content-right
                                ul
                                    li.col-md-6.col-sm-6.col-12  
                                            .wrap-card
                                                  .card
                                                         h2.year 2007 - 2009
                                                         p.job WEB DESIGNER
                                                         p.company Corp Project
                                                         hr     
                                                         .text-detail
                                                                  p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                                    li.col-md-6.col-sm-6.col-12
                                            .wrap-card
                                                   .card
                                                       h2.year 2009 - 2010
                                                       p.job WEB DESIGNER
                                                       p.company Google inc
                                                       hr
                                                       .text-detail
                                                                   p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.      
                                    li.col-md-6.col-sm-6.col-12
                                              .wrap-card
                                                   .card
                                                         h2.year 2010 - 2014
                                                         p.job CRATIVE DIRECTOR
                                                         p.company 41 studio
                                                         hr
                                                         .text-detail
                                                              p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.       
                                    li.col-md-6.col-sm-6.col-12
                                              .wrap-card
                                                    .card
                                                         h2.year 2014 - NOW
                                                         p.job FULLSTACK DESIGNER
                                                         p.company Freelance
                                                         hr
                                                         .text-detail
                                                              p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.       
