footer.row
    .footer-top.row
          ul.socials
              li.facebook 
                 a(href="#" data-hover="Facebook") Facebook
              li.twitter 
                 a(href="#" data-hover="Twitter") Twitter
              li.google 
                 a(href="#" data-hover="Google+") Google+  
    .footer-bottom.row 
          .container
              .row(style="display:block;text-align:center;")
                  img(src="../img/logo-bottom.png")
