header.row
    .header-top.row
            .logo.col-md-2.col-2
                a(href="#")
                   img(src="../img/logo.png" width="45" style="padding:8px 0;")
            button#open-menu
                 span.fa.fa-bars
    .heroe-wrapper.col-12
        .hero-content
               h1.title Hello
               span.typed 