section.row.service#service
      .container(style="padding:0;")
           .row(style="height:100%")
             .col-md-3.col-sm-12.col-12.content-left
                    span.title Services
                    p.content-detail Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
             .col-md-9.col-sm-12.col-12.content-right
                    ul
                      li.col-md-4.col-sm-4.col-12 
                          span.fa.fa-gift
                          h1.head MARKETING
                          p.text-grey Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                      li.col-md-4.col-sm-4.col-12
                          span.fa.fa-gift
                          h1.head WEB DESIGN
                          p.text-grey Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.   
                      li.col-md-4.col-sm-4.col-12 
                          span.fa.fa-th-large   
                          h1.head ui
                          p.text-grey Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                      li.col-md-4.col-sm-4.col-12 
                          span.fa.fa-headphones  
                          h1.head DIRECTOR
                          p.text-grey Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                      li.col-md-4.col-sm-4.col-12 
                          span.fa.fa-magnet 
                          h1.head UX DESIGN
                          p.text-grey Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.  
                      li.col-md-4.col-sm-4.col-12 
                          span.fa.fa-rocket   
                          h1.head FRONT END
                          p.text-grey Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.                  
