section.row.skills#skills(style="padding-top: 111px;")
      .container(style="padding:0;")
            .row(style="height:100%;")
                    .col-md-3.col-sm-12.col-12.content-left
                      .title
                            span Skills
                      .content-detail
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                    .col-md-9.col-sm-12.col-12.content-right
                            .skillst
                                .skillbar(data-percent="28%")
                                      .title-head HTML5
                                      .count-bar  
                                          .count
                                              
                                .skillbar(data-percent="42%")
                                      .title-head CSS 4
                                      .count-bar 
                                          .count
                                              
                                .skillbar(data-percent="52%")
                                        .title-head JQUERY
                                        .count-bar 
                                             .count
                                                 
                                .skillbar(data-percent="97%")
                                          .title-head PHP
                                          .count-bar 
                                              .count
                                                  
                                .skillbar(data-percent="23%")
                                          .title-head PHOTOSHOP
                                          .count-bar   
                                              .count
                                                  
