section.row.testimonial#testimonial
        .mask-testimonial
        .container(style="width:71%;")
            .row(style="height:100%;")
                 .swiper-container#swiper-container2
                        .swiper-wrapper
                              .swiper-slide 
                                     h3.testi “ Reza did a phenominal job setting up my a website for my product He performed the task very <br /> quickly and efficiently. We know we have the superior topical pain relief cream on the market and he has helped us communicate that message via the website he built from scratch. Thanks! ”
                                     p.people JK Thang
                              .swiper-slide 
                                     h3.testi “ Great designer! I like his sense of design, especially the color scheme. Quick turnaround. Look forward to work with him again. Thanks!! ”
                                     p.people JK Thang
                              .swiper-slide 
                                     h3.testi “ Great designer! I like his sense of design, especially the color scheme. Quick turnaround. Look forward to work with him again. Thanks!! ”
                                     p.people Darin Cohen - Active10
                        .swiper-pagination#pagination                
