section.row.works#works
        .container(style="padding:0;")
              .row(style="height:100%;")
                  .col-md-3.col-sm-12.col-12.content-left
                            .title
                                  span Work
                            .content-detail
                                  p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                                  p autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros.
                  .col-md-9.col-sm-12.col-12.content-right
                            ul.portfolio-img
                               li.col-md-6
                                    a(href="../img/bw/bw-1.png")
                                         img(src="../img/bw/bw-1.png" width="100%" height="auto" alt="image")
                                         .overlay 
                                              .overlay-content  
                                                    p My resume
                               li.col-md-6
                                    a(href="../img/bw/bw-2.png")
                                          img(src="../img/bw/bw-2.png" width="100%" height="auto" alt="image")  
                                          .overlay 
                                               .overlay-content
                                                    p Pangirutan
                               li.col-md-6     
                                     a(href="../img/bw/bw-3.png")
                                          img(src="../img/bw/bw-3.png" width="100%" height="auto" alt="image")
                                          .overlay 
                                                .overlay-content
                                                      p Black mug
                               li.col-md-6     
                                     a(href="../img/bw/bw-4.png")
                                          img(src="../img/bw/bw-4.png" width="100%" height="auto" alt="image")
                                          .overlay 
                                                .overlay-content
                                                        p Notebook mockup
                               li.col-md-6     
                                     a(href="../img/bw/bw-5.png")
                                           img(src="../img/bw/bw-5.png" width="100%" height="auto" alt="image") 
                                           .overlay 
                                                .overlay-content 
                                                        p Presentation
                               li.col-md-6     
                                     a(href="../img/bw/bw-6.png")
                                            img(src="../img/bw/bw-6.png" width="100%" height="auto" alt="image") 
                                            .overlay 
                                                 .overlay-content 
                                                         p Presentation                                
