.contact {
  height: 800px; }
  .contact .content-left {
    margin-bottom: 37px; }
    .contact .content-left .title {
      font-size: 23px;
      font-family: 'Roboto Slab', serif;
      position: relative;
      margin-bottom: 70px; }
      .contact .content-left .title:after {
        content: '';
        position: absolute;
        height: 3px;
        width: 28px;
        background-color: #DEDEDE;
        bottom: -20px;
        left: 0; }
    .contact .content-left .content-detail p {
      font-weight: 400;
      font-size: 15px;
      letter-spacing: 0.4px;
      color: #474747;
      line-height: 30px; }
  .contact .content-right #sendMessage {
    border: 1px solid #2b2b2b !important;
    color: #2b2b2b;
    padding: 10px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    width: 100%;
    background: none;
    cursor: pointer;
    font-size: 13px;
    transition: .2s ease all; }
    .contact .content-right #sendMessage:hover {
      background: #2b2b2b;
      color: white; }
  .contact .content-right .group {
    margin-bottom: 65px;
    position: relative; }
  .contact .content-right .group input, .contact .content-right textarea {
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #2b2b2b;
    background: transparent;
    color: #969696;
    font-size: 13px;
    padding: 10px 10px 10px 5px; }
  .contact .content-right .group .hightlight {
    position: absolute;
    height: 60%;
    width: 100%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
  .contact .content-right .group label {
    position: absolute;
    top: 10px;
    left: 5px;
    color: #2b2b2b;
    font-size: 14px;
    z-index: -1;
    transition: 0.2s ease all; }
  .contact .content-right .group .bar {
    position: relative;
    display: block;
    width: 100%; }
  .contact .content-right .group input:focus,
  .contact .content-right .group textarea:focus {
    outline: none;
    border-bottom: none; }
  .contact .content-right .group input:focus ~ label,
  .contact .content-right .group input:valid ~ label,
  .contact .content-right .group textarea:focus ~ label,
  .contact .content-right .group textarea:valid ~ label {
    top: -25px;
    font-size: 12px;
    color: #818181; }
  .contact .content-right .group .bar:before,
  .contact .content-right .group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 1px;
    transition: 0.2s ease all;
    background: #818181; }
  .contact .content-right .group .bar:before {
    left: 50%; }
  .contact .content-right .group .bar:after {
    right: 50%; }
  .contact .content-right .group input:focus ~ .bar:before,
  .contact .content-right .group input:focus ~ .bar:after,
  .contact .content-right .group textarea:focus ~ .bar:before,
  .contact .content-right .group textarea:focus ~ .bar:after {
    width: 50%; }
  .contact .content-right .group .hightlight {
    position: absolute;
    height: 60%;
    width: 100%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
  .contact .content-right .group input:focus ~ .hightlight,
  .contact .content-right .group textarea:focus ~ .hightlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease; }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
